
.chart-page.on-widget{
  background: transparent;
}

/* .pane-legend-line.pane-legend-wrap.study, */
.chart-controls-clock,.chart-controls-tz{
	display: none;
}

.chart-page .chart-container{
  border: none;
}

.pane-legend{
  display: none;
}

.pane-controls{
  display: none;
}